@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-carousel/dist/css/bulma-carousel.min.css";
@import "../../../node_modules/bulma-pricingtable/dist/css/bulma-pricingtable.min.css";

$main-color: #1992ec;

/*
Wrapper
*/
.section .container,
.hero .hero-body,
.hero .hero-head {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/*
Hero
*/
.hero {
  background-image: url(../img/hero-background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
  nav {
    height: 100px;
    display: flex;
    align-items: center;
    .navbar-start {
      .navbar-item {
        &:after {
          width: 0%;
          bottom: 0px;
          height: 5px;
          margin: 0 auto;
          content: "";
          position: absolute;
          transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
          border-radius: 5px;
        }
        &:hover {
          &:after {
            width: 20px;
            background: #fff;
          }
        }
      }
    }
    .navbar-end {
      .button {
        color: #1391ea;
        &:hover {
          background-color: transparent;
          border-color: white;
          color: white;
        }
      }
    }
  }

  .hero-body {
    .button {
      &:last-child {
        color: $main-color;
        &:hover {
          background-color: transparent;
          border-color: white;
          color: white;
        }
      }

    }
  }
}

/*
section
*/
.section {

}

.section-service {
  .level-item {
    flex: 1 1 0%;
  }
}

.section-terminal {
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(../img/section-bg-1.png);
  &.web, &.desktop {
    background-image: url(../img/section-bg-1.png);
    background-position: right center;
  }
  &.pricing {
    background-image: url(../img/section-bg-3.png);
    background-position: center center;
  }
  .button  {
    background-color: $main-color
  }
  img {
    //max-height: 350px;
  }
}

.section-pricing {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(../img/section-bg-3.png);
  background-position: center center;
}

.section-video {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(../img/video-image.png);
  background-position: center center;
  .v-btn {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #52ADEF;
    color: #ffffff;
    border-radius: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .waves-block {
    position: absolute;
    width: 384px;
    height: 384px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .waves-block .waves {
    position: absolute;
    width: 384px;
    height: 384px;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 320px;
    background-clip: padding-box;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
  }

  .waves-block .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  .waves-block .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .waves-block .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  @-webkit-keyframes waves {
    0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
      opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }

  @keyframes waves {
    0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
      opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }
}

.section-gallery {
  .tabs {
    li {
      &.is-active {
        a {
          color: $main-color;
          border-bottom-color: $main-color;
        }
      }
    }
  }
  .slider-container {
    .slider-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slider-pagination {
      bottom: unset;
      .slider-page {
        background-color: $grey-lighter
      }
    }
    img {
      padding: 20px 30px;
      //max-height: 540px;
    }
  }
  .slider-navigation-next, .slider-navigation-previous {
    background-color: $white-ter;
    border-color: $white-ter;
  }
}

/*
footer
 */
#footer {
  background-image: url(../img/footer-bg.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: unset;
  .columns {
    .column {
      .box-email {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        color: $main-color;
      }
      .box-description {
        margin-bottom: 30px;
      }
      .link-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
        font-weight: 600;
      }
      .link {
        margin-bottom: 0.5rem;
        color: $grey;
        a {
          cursor: pointer;
          text-decoration: none;
          color: $grey;
          &:hover {
            color: $main-color;
          }
        }
      }
      .box-input {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 30px;
        border: 1px solid #e4d9d9;
      }
      &:first-child {
        .button {
          border-radius: 50%;
          border-color: $grey;
          color: $grey;
          &:hover {
            background-color: $main-color;
            border-color: $main-color;
            color: white;
          }
        }
      }
      &:last-child {
        .button {
          background-color: $main-color;
          border-color: $main-color;
          border-radius: 50%;
          color: $white;
          &:hover {
            background-color: $cyan
          }
        }
      }
    }
  }
}

#backToTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
