page {
  background-color: #f8f8f8;
}

.wrap {
  padding: rpx(24);
  min-height: 100%;
  overflow: auto;
}
.navbar-right {
  margin-right: rpx(44);
  display: flex;
  color: #FFFFFF;
}

// tabbar
.u-tabbar {
  ::v-deep .u-tabbar__content {
    //box-shadow: 0px 2px 4px 0px #7BA9E5;
  }
}

// 单元格点击样式
.cell-hover-class {
  background-color: #f7f8f9!important;
}

// 小程序不支持在css中使用本地文件 https://uniapp.dcloud.io/frame?id=%e8%83%8c%e6%99%af%e5%9b%be%e7%89%87
.image-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
