{
  "extends": "eslint-config-egg",
  "rules": {
    // 关闭语句强制分号结尾
    "semi": [0],
    //对象字面量项尾不能有逗号
    "comma-dangle": [0],
    "no-unused-vars": [1, {
      // 允许声明未使用变量
      "vars": "local",
      // 参数不检查
      "args": "none"
    }],
    "array-bracket-spacing": "off"
  }
}
